{% extends "layout.njk" %}

{% block content %}

    <h1 class="govuk-heading-xl">{{ bookData.title }}</h1>

    <p class="govuk-body-l">by {{ bookData.author }}</p>
    
    <div class="govuk-inset-text">
        <p class="govuk-body">{{ bookData.synopsis }}</p>
    </div>

    {# Add a link to go back to the list #}
    <a href="/books" class="govuk-back-link">Back to all books</a>

{% endblock %}